<!-- 

day1

一.jQuery对ajax发起请求的三种方式

$.get('url',{},function(res){})// get获取请求 三个参数,分别是接口地址/data参数/回调函数

$.post('url',{},function(res){})// post提交请求 三个参数,分别是接口地址/data参数/回调函数

$.ajax({
    url:  ,//接口地址
    type:  ,//post或者get
    data:  ,//数据
    success:  ,//回调函数
})
二.案例中的小知识点
resetui()//让滚动条一直处于页面最底部

day2

三.form表单属性

action属性  属性值是一个url地址,当提交表单的时候会立即跳转到这个url地址
target属性  属性值规定跳转后的窗口在何处打开//_self 在当前窗口打开//_blank 在新窗口打开
method属性  属性值规定表单的提交方式//post 提交//get 获取

****表单只负责采集数据，Ajax负责将数据提交到服务器****
event.preventDefault()//所以处理表单时要阻止默认事件触发(阻止表单的提交和页面的跳转)

表单数据的快速获取 $('form').serialize()//获取到的数据可以直接作为ajax的data参数
******快速获取所有表单元素的数据时一定要给每个表单设置name属性，属性值要与ajax中data的要提交的属性名相同*****

四.模板引擎
*****art-template模板引擎*****
1.引入template-web.js

2.定义数据 一般为ajax获取的数据，在ajax的success中

3.定义模板
<script type="text/html" id="temp">//一定要写type="text/html",并同时定义一个id
    //其中写html结构
</script>

4.调用模板
var htmlStr=template('tem',res)//第一个参数为模板的id,第二个参数为数据

5.渲染页面
$('.box').html(htmlStr)
*****template标准语法{{}}*****

1)普通输出
//{{value}}变量输出
//对象属性值输出
{{obj.key}}
{{obj['key']}}
//三元表达式输出
{{a?b:c}}
//逻辑或输出
{{a||b}}(a true则输出a，a false则输出b)
//加减乘除运算输出
{{a+b}}

2)原文输出@
//在输出的结果中包含html结构时需要原文输出
{{@ value}}

3)循环输出each
//循环遍历数组时{{$value}}为数组每一项，{{$index}}为索引
//循环遍历对象时{{$value}}为属性值，{{$index}}为属性
{{each data}}
{{$value}}{{$index}}
{{/each}}
{{$value}}

4)条件输出 if
{{if value}}满足条件输出的内容{{/if}}
{{if value1}}满足条件1输出的内容{{else if value2}}满足条件2输出的内容{{/if}}

5)过滤器输出
{{value|filterName}}//  |被称为管道操作符  filterName可自定义
//过滤器语法结构
template.defaults.imports.filterName=function(value){
  return 后的结果输出到{{value|filterName}}
}

day3

五.json

1.json *本质就是一个字符串*
概念：javascript对象表示法
简单说就是js对象和数组的字符串表示方法 
*主要用于服务器端与客户端之间进行数据传输与交换的格式*

2.json对象结构{}
对象中的key都需要加 ""(必须是双引号，不能是单引号)
对象中的value如果有字符串也需要加上 ""
对象中value的数据结构类型只能为 number string null 布尔型 数组 对象这6种，不能为undefined 函数

3.json数组结构[]
数组中的value如果有字符串需要加上 ""
数组中value的数据结构类型只能为 number string null 布尔型 数组 对象这6种，不能为undefined 函数
//json中不能写注释

4.json数据和js数据的相互转换
json.stringify(data)  js数据转换为json数据
json.parse(data) json数据转换为js数据

5.序列换和反序列化

数据对象——>字符串 序列化   js->json json序列化
字符串——>数据对象 反序列化  json->js json反序列化







































 -->